@{
    ViewData["Title"] = "Reservation";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grilli - Amazing & Delicious Food</title>
    <meta name="description" content="This is a Restaurant html template made by codewithsadee">
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.min.css">
    <link rel="preload" as="image" href="./images/hero-slider-1.jpg">
    <link rel="preload" as="image" href="./images/hero-slider-2.jpg">
    <link rel="preload" as="image" href="./images/hero-slider-3.jpg">
    <style>
        .reservation .form {
            margin-top: 50px;
        }

        .popup-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 20px;
            border-radius: 10px;
            z-index: 9999;
        }

        .popup-content {
            text-align: center;
        }

        .spacer {
            margin-bottom: 20px;
            width: 100%;
            height: 0;
        }

        #select-product-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: green;
            border: none;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-right: 5px;
        }

            #select-product-btn:hover {
                background-color: darkgreen;
            }

            #select-product-btn ion-icon {
                font-size: 20px;
            }

        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.7);
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            border-radius: 10px;
            width: 80%;
            max-width: 600px;
        }


        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        .menu-card {
            margin-bottom: 20px;
        }

        #menu-items-modal {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
        }
    </style>
</head>

<body id="top">
 
    <div class="topbar">
        <div class="container">
            <div class="separator"></div>
        </div>
    </div>
    <header class="header" data-header>
        <div class="container">
            <a href="/Home" class="logo">
                <img src="/images/logo.svg" width="160" height="50" alt="Grilli - Home">
            </a>
        </div>
    </header>

    <main>
        <article>
            <section class="reservation">
                <div id="reservation-message" class="reservation-message"></div>
                <div class="container">
                    <div class="form reservation-form bg-black-10">
                        <form id="reservation-form" action="/Reservation/MakeReservation" class="form-left" method="post">
                            <h2 class="headline-1 text-center">Online Reservation</h2>
                            <p class="form-text text-center">Booking request <a href="tel:+88123123456" class="link">+88-123-123456</a> or fill out the order form</p>
                            <div class="input-wrapper">
                                <div class="icon-wrapper">
                                    <input type="text" name="Name" placeholder="Your Name" autocomplete="off" class="input-field">
                                </div>
                                <div class="icon-wrapper">
                                    <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                                    <select name="NumberOfPeople" class="input-field">
                                        <option value="1">1 Person</option>
                                        <option value="2">2 Person</option>
                                        <option value="3">3 Person</option>
                                        <option value="4">4 Person</option>
                                        <option value="5">5 Person</option>
                                        <option value="6">6 Person</option>
                                        <option value="7">7 Person</option>
                                    </select>
                                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                                </div>
                            </div>
                            <div class="input-wrapper">
                                <div class="icon-wrapper">
                                    <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>
                                    <input type="date" id="reservation-date" name="ReservationDate" class="input-field">
                                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                                </div>

                                <div class="icon-wrapper">
                                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                                    <select name="Time" id="reservation-time" class="input-field" disabled>
                                        @foreach (var time in ViewBag.AvailableTime)
                                        {
                                            <option value="@time">@time</option>
                                        }
                                    </select>
                                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                                </div>

                                <div class="icon-wrapper">
                                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                                    <select name="TableId" id="reservation-table" class="input-field" disabled>
                                        @foreach (var table in ViewBag.AvailableTables)
                                        {
                                            <option value="@table">Table @table</option>
                                        }
                                    </select>
                                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                                </div>
                            </div>
                            <textarea name="Message" placeholder="Message" autocomplete="off" class="input-field"></textarea>

                            <input type="hidden" name="TableId" value="1">
                            <input type="hidden" name="UserId" value="1">

                            <div class="spacer"></div>

                            <button type="submit" class="btn btn-secondary">
                                <span class="text text-1">Book A Table</span>
                                <span class="text text-2" aria-hidden="true">Book A Table</span>
                            </button>

                        </form>

                        <div class="form-right text-center" style="background-image: url('./images/form-pattern.png')">
                            <h2 class="headline-1 text-center">Contact Us</h2>
                            <p class="contact-label">Booking Request</p>
                            <a href="tel:+88123123456" class="body-1 contact-number hover-underline">+88-123-123456</a>
                            <div class="separator"></div>
                            <p class="contact-label">Location</p>
                            <address class="body-4">
                                Restaurant St, Delicious City, <br>
                                London 9578, UK
                            </address>
                            <p class="contact-label">Lunch Time</p>
                            <p class="body-4">
                                Monday to Sunday <br>
                                11.00 am - 2.30pm
                            </p>
                            <p class="contact-label">Dinner Time</p>
                            <p class="body-4">
                                Monday to Sunday <br>
                                05.00 pm - 10.00pm
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>

    <script src="./js/script.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#reservation-date').change(function () {
                var selectedDate = $(this).val();
                if (selectedDate) {
                    $('#reservation-time').prop('disabled', false);
                    $('#reservation-table').prop('disabled', false);
                    updateAvailableTimes(selectedDate, $('#reservation-table').val());
                    updateAvailableTables(selectedDate, $('#reservation-time').val());
                }
            });

            $('#reservation-time').change(function () {
                var selectedTime = $(this).val();
                var selectedDate = $('#reservation-date').val();
                if (selectedDate && selectedTime) {
                    updateAvailableTables(selectedDate, selectedTime);
                }
            });

            $('#reservation-table').change(function () {
                var selectedDate = $('#reservation-date').val();
                var selectedTable = $(this).val();
                if (selectedDate && selectedTable) {
                    updateAvailableTimes(selectedDate, selectedTable);
                }
            });

            function updateAvailableTimes(reservationDate, tableId) {
                $.ajax({
                    url: "/Reservation/GetAvailableTimes",
                    method: "GET",
                    data: { reservationDate: reservationDate, tableId: tableId },
                    success: function (availableTimes) {
                        var currentTime = $('#reservation-time').val();
                        $('#reservation-time').empty();
                        $.each(availableTimes, function (index, time) {
                            var option = $('<option>', {
                                value: time,
                                text: time
                            });
                            $('#reservation-time').append(option);
                        });
                        $('#reservation-time').val(currentTime);
                    },
                    error: function (error) {
                        console.error('Error retrieving available times:', error);
                    }
                });
            }

            function updateAvailableTables(selectedDate, selectedTime) {
                $.ajax({
                    url: "/Reservation/GetAvailableTables",
                    method: "GET",
                    data: { reservationDate: selectedDate, time: selectedTime },
                    success: function (availableTables) {
                        var currentTable = $('#reservation-table').val();
                        $('#reservation-table').empty();
                        $.each(availableTables, function (index, table) {
                            var option = $('<option>', {
                                value: table,
                                text: 'Table ' + table
                            });
                            $('#reservation-table').append(option);
                        });
                        $('#reservation-table').val(currentTable);
                    },
                    error: function (error) {
                        console.error('Error retrieving available tables:', error);
                    }
                });
            }

            $('#reservation-form').submit(function (e) {
                e.preventDefault();

                const reservationDto = {
                    Name: $('input[name="Name"]').val(),
                    NumberOfPeople: parseInt($('select[name="NumberOfPeople"]').val()),
                    ReservationDate: $('input[name="ReservationDate"]').val(),
                    Time: $('select[name="Time"]').val(),
                    Message: $('textarea[name="Message"]').val(),
                    TableId: $('select[name="TableId"]').val(), 
                    UserId: $('input[name="UserId"]').val()
                };

                $.ajax({
                    url: '/Reservation/MakeReservation',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(reservationDto),
                    success: function (response) {
                        showMessage(response ? "Success" : "Error", response);
                        setTimeout(function () {
                            window.location.href = '/Payment/Payment';
                        }, 2000);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error making reservation:', error);
                        showMessage('Error making reservation: ' + error, false);
                    }
                });
            });

            function showMessage(message, isSuccess) {
                if (isSuccess) {
                    toastr.success(message);
                } else {
                    toastr.error(message);
                }
            }
        });
    </script>


</body>
</html>
