@using CookApp.BLL.Dtos.AccountDtos
@model RegistrationDto
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }

        form {
            max-width: 300px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            button[type="submit"]:hover {
                background-color: #0056b3;
            }

        .logo {
            position: absolute;
            top: 20px;
            left: 20px;
        }

            .logo img {
                width: 160px;
                height: 50px;
            }
    </style>
</head>
<body>
    <div class="logo">
        <a href="/Home">
            <img src="/images/logo.svg" alt="Grilli - Home">
        </a>
    </div>
    <div class="container">
        <form action="~/Account/Registration" method="POST">
            <label for="register-username">Username:</label>
            <input type="text" id="register-username" name="Name" required>
            <label for="register-email">Email:</label>
            <input type="email" id="register-email" name="Email" required>
            <label for="register-password">Password:</label>
            <input type="password" id="register-password" name="Password" required>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
